<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="MyController">
        <!--<h1>Select a Quiz</h1>-->
        <input type="text" ng-model="Quiz.QuizName">
        <input type="button" value = "Post Quiz" ng-click="Submit()" />

        <ul>
            <li ng-repeat="quiz in quizs"><a href="">{{quiz.QuizName}}</a></li>
        </ul>
    </div>        

    <script src="../Scripts/jquery-1.10.2.js"></script>    
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="Scripts/myAngular.js"></script>
</body>
</html>
